.container {
    width: 100%;
    background-color: white;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

}

.amount{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(235, 242, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 20px;
}




@media screen and (max-width: 900px) {
    .container {
        display: block;
    }
}

.container img {
    width: 30px;
}

.links {
    padding: 12px 40px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}